Ic_out.png
lc_input.tif
ConsoleMedDetect/.vs/
ConsoleMedDetect/ConsoleMedDetect/bin/Debug/ConsoleMedDetect.exe
ConsoleMedDetect/ConsoleMedDetect/bin/
ConsoleMedDetect/ConsoleMedDetect/obj/
ConsoleMedDetect/WinFormMedDetect/bin/
ConsoleMedDetect/WinFormMedDetect/obj/
FuncMedDetect/for_redistribution_files_only/
InputData/
FuncMedDetect/for_testing/
FuncMedDetect/PackagingLog.html
FuncMedDetect/for_redistribution/
